@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary leading-loose relative bg-primary dark:bg-primary-dark text-writing dark:text-writing-dark;
  }

  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }

  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }

  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }

  .text-outline {
    -webkit-text-stroke: 1px #272735;
  }

  .text-dark-outline {
    -webkit-text-stroke: 1px #916F5F;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #A76F1F;
  }

  .text-dark-outline-hover {
    -webkit-text-stroke: 1px #E4D6C4;
  }

  body::before {
    content: "";
    position: absolute;
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(98, 93, 92, 0.17), transparent 40%);
    border-radius: inherit;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 500ms;
    z-index: -1;
  }

  body:hover::before {
    opacity: 1;
  }

}